force-app/main/default/flows/Update_AmountxRole_and_RealAmount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssingToTotalCost</name>
        <label>AssingToTotalCost</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>totalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopForTotalCost.EstimatedAmountXResource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RealTotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopForTotalCost.RealAmountXRole__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopForTotalCost</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update AmountxRole and RealAmount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update AmountxRole and RealAmount</label>
    <loops>
        <name>LoopForTotalCost</name>
        <label>LoopForTotalCost</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Amount_X_Resource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssingToTotalCost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRecordEstimatedAmount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Amount_X_Resource</name>
        <label>Get Amount X Resource</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopForTotalCost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProjectLineItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProjectLineItem__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectResource__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EstimatedAmountXResource__c</queriedFields>
        <queriedFields>RealAmountXRole__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecordEstimatedAmount</name>
        <label>UpdateRecordEstimatedAmount</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProjectLineItem__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AmountxRole__c</field>
            <value>
                <elementReference>totalCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedAmountXRole__c</field>
            <value>
                <elementReference>RealTotalCost</elementReference>
            </value>
        </inputAssignments>
        <object>ProjectLineItem__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Amount_X_Resource</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EstimatedAmountXResource__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RealHours__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProjectResource__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ArrCostos</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ArrRealCost</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RealTotalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
